nav{
    padding-bottom: 70px;
    background-color: #37474f;
    margin-bottom: 25px;
    padding-left: 20px;
}

.titulo_principal{
    text-align: center;
    margin-right: 200px;
    font-size: 35px;
}

.barra_lateral{
    background-color:#d7ccc8   ;
    padding-bottom: 120px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    border-radius: 20px;
    
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    
}
.logo_lateral{
    padding-left: 60px;
    
    
}
.barra_central{
    
    margin-top: 40px;
    text-align: justify;
}

body{
    background-color: #e0e0e0;
   }

.carta_izquierda{
    
    padding-left: 10px;
}

.card{
    border-radius: 10px;
    text-align: justify;
}

h3{
   
    font-size: 50px;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}